# Temporarily excluded project files
notebooks/03_exploratory_analysis.ipynb
notebooks/04_business_analysis.ipynb
sql_scripts/


# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/
.virtual_documents/
Untitled.ipynb
Fixing errors.ipynb

# Python
__pycache__/
*.pyc
.venv/
venv/

# Anaconda
anaconda_projects/

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.log
